<div class="container">
  <h2 class="text-center text-secondary">Registraion form</h2>
    <div class="jumbotron">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
    <form #ref="ngForm" (ngSubmit)="add(ref.value)">
      <div class="form-group">
        <input type="text" placeholder="FirstName" id="a" name="firstnamename" class="form-control" #a=ngModel ngModel required>
        <p class="text-danger" *ngIf="a.touched && a.invalid">This field is required (a to z)</p>
      </div>
      <div class="form-group">
        <input type="text" placeholder="MiddleName" id="z" name="middlename" class="form-control" #a=ngModel ngModel required>
        <p class="text-danger" *ngIf="a.touched && a.invalid">This field is required (a to z)</p>
      </div>
      <div class="form-group">
        <input type="text" placeholder="LastName" id="y" name="lastname" class="form-control" #a=ngModel ngModel required>
        <p class="text-danger" *ngIf="a.touched && a.invalid">This field is required (a to z)</p>
      </div>
      <div class="form-group">
        <input type="text" placeholder="EmailId" name="email" id="b" class="form-control" #b=ngModel ngModel required>
        <p class="text-danger" *ngIf="a.touched && a.invalid">This field is required name@gmail.com</p>
      </div>
      <div class="form-group">
        <input type="number" placeholder="Mobile" name="mobile" class="form-control" id="d" #d=ngModel ngModel required>
        <p class="text-danger" *ngIf="a.touched && a.invalid">This field is required (0 to 10)</p>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Password" name="password" id="c" class="form-control" #c=ngModel ngModel required>
        <p class="text-danger" *ngIf="a.touched && a.invalid">This field is required Uppercase andlowercase(A to z)</p>
      </div>
      <div class="form-group">
        <input type="text" placeholder="CofirmPassword" name="cpassword" id="x" class="form-control" #c=ngModel ngModel required>
        <p class="text-danger" *ngIf="a.touched && a.invalid">This field is required Uppercase andlowercase(A to z)</p>
      </div>
    <div class="text-center">
      <button class="btn btn-success" type="submit">Submit</button>
    </div>
    </form>
    </div>
    <div class="col-sm-3"></div>
    </div>
    </div>
  </div>
